@using real_estate_web.Tools.Helper;
@{
    ViewData["Title"] = "Ana Sayfa";
}
@model Tuple<IEnumerable<AgentVM>,IEnumerable<PropertyVM>,IEnumerable<Blog>>


@{
    await Html.RenderPartialAsync("~/Views/Home/IntroSection.cshtml", Model.Item2);
}

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Sunduklarımız</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-cart"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Yaşam Tarzı</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Profesyonel iç mimarlarımız ile evinizini baştan aşağı tarzınıza uygun şekilde tasarlıyoruz. Uzman
                                ekibimiz ile zahmetsiz ve zmanında teslim ile sizi yeni eviniz ile buluştuuyoruz.
                            </p>
                        </div>
                        <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">
                                Daha fazla
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-calendar4-week"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Kredi</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Anlaşmalı bankalarımızdan beğendiğiniz ev için size özel faiz oranları ile kredi kullanma imkanı
                                veriyoruz.
                            </p>
                        </div>
                        <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">
                                Daha fazla
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-card-checklist"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Pazarlama</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Mülkünüzü zahmetsiz, hızlı ve güvenilir şekilde değerinde fiyattan pazarlamaya talibiz. Uzman danışman
                                kadromuz ve 5 farklı pazarlama kanalı ile mülkünüzü satıyoruz.
                            </p>
                        </div>
                        <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">
                                Daha fazla
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    @if (Model.Item1.Count()>0)
    {
        
    
    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Son Gelen Mülkler</h2>
                        </div>
                        <div class="title-link">
                            <a href="/properties">
                                Tümü
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="property-carousel" class="swiper">
                <div class="swiper-wrapper">

                    @foreach (var item in Model.Item2)
                    {
                        <div class="carousel-item-b swiper-slide">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="@item.BasePhotoPath" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="@Url.Action("Index","Property",new { id = item.Id , title = item.Title.TitleToUrl()})">
                                                    <p class="fs-6">
                                                        @item.Mahalle MH, @item.Ilce
                                                        <br> @item.Il
                                                    </p>
                                                    @item.Title
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="card-body-a">
                                            <div class="price-box d-flex">
                                                <span class="price-a">@item.Status | ₺ @item.Price.ToString("##,#")</span>
                                            </div>
                                            <a href="@Url.Action("Index","Property",new { id = item.Id , title = item.Title.TitleToUrl()})" class="link-a">
                                                Görüntülemek için Tıklayın
                                                <span class="bi bi-chevron-right"></span>
                                            </a>
                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-around">
                                                <li>
                                                    <h4 class="card-info-title">Brüt Alan</h4>
                                                    <span>
                                                        @item.BrutMetre m
                                                        <sup>2</sup>
                                                    </span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Oda</h4>
                                                    <span>@item.OdaSayisi + @item.SalonSayisi</span>
                                                </li>
                                                <li>
                                            <h4 class="card-info-title">Emlak Tipi</h4>
                                            <span>@item.Status @item.PropertyType</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Yaşı</h4>

                                            <span>@item.BinaYasi</span>

                                        </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End carousel item -->
                    }
                </div>
            </div>
            <div class="propery-carousel-pagination carousel-pagination"></div>

        </div>
    </section><!-- End Latest Properties Section -->
    }
    @if(Model.Item2.Count()>0){
    <!-- ======= Agents Section ======= -->
    <section class="section-agents section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">En İyi Danışmanlar</h2>
                        </div>
                        <div class="title-link">
                            <a href="/agents">
                                Tümü
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    foreach (var agent in Model.Item1)
                    {
                        <div class="col-md-4">
                            <div class="card-box-d">
                                <div class="card-img-d">
                                    <img src="@agent.ProfilePhotoPath" alt="" class="img-d img-fluid">
                                </div>
                                <div class="card-overlay card-overlay-hover">
                                    <div class="card-header-d">
                                        <div class="card-title-d align-self-center">
                                            <h3 class="title-d">
                                                <a href="@Url.Action("Index","Agent",new { id = agent.Id , fullname = $"{agent.FirstName} {agent.LastName}".TitleToUrl()})" class="link-two">
                                                    @agent.FirstName
                                                    <br> @agent.LastName
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="card-body-d">
                                        <p class="content-d color-text-a">
                                            @agent.Description
                                        </p>
                                        <div class="info-agents color-a">
                                            <p>
                                                <strong>Mobile: </strong> +90 @agent.MobileNumber
                                            </p>
                                            <p>
                                                <strong>Email: </strong> @agent.Email
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-footer-d">
                                        <div class="socials-footer d-flex justify-content-center">
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="@agent.FacebookLink" class="link-one">
                                                        <i class="bi bi-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="@agent.TwitterLink" class="link-one">
                                                        <i class="bi bi-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="@agent.InstagramLink" class="link-one">
                                                        <i class="bi bi-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="@agent.LinkedinLink" class="link-one">
                                                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                }
            </div>
        </div>
    </section><!-- End Agents Section -->
    }

    @if(Model.Item3.Count() > 0){
    <!-- ======= Latest News Section ======= -->
    <section class="section-news section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Son Haberler</h2>
                        </div>
                        <div class="title-link">
                            <a href="/blogs">
                                Tümü
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

    
            <div id="news-carousel" class="swiper">
                <div class="swiper-wrapper">

                    @foreach (var item in @Model.Item3)
                    {
                        <div class="carousel-item-c swiper-slide">
                            <div class="card-box-b card-shadow news-box">
                                <div class="img-box-b">
                                    <img src="@item.BasePhotoPath" alt="" class="img-b img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-header-b">
                                        <div class="card-category-b">
                                            <a href="#" class="category-b">@item.Category</a>
                                        </div>
                                        <div class="card-title-b">
                                            <h2 class="title-2">
                                                <a href="/blog/@item.Id">
                                                    @item.Title
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="card-date">
                                            <span class="date-b">@item.Date</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End carousel item -->
                    }

                </div>
            </div>

            <div class="news-carousel-pagination carousel-pagination"></div>
        </div>
    </section><!-- End Latest News Section -->
    }
    @*<!-- ======= Testimonials Section ======= -->
    <section class="section-testimonials section-t8 nav-arrow-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Referanslarımız</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div id="testimonial-carousel" class="swiper">
                <div class="swiper-wrapper">

                    <div class="carousel-item-a swiper-slide">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img src="img/testimonial-1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico">
                                        <i class="bi bi-chat-quote-fill"></i>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
                                            debitis hic ber quibusdam
                                            voluptatibus officia expedita corpori.
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <img src="img/mini-testimonial-1.jpg" alt="" class="testimonial-avatar">
                                        <h5 class="testimonial-author">Albert & Erika</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                    <div class="carousel-item-a swiper-slide">
                        <div class="testimonials-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-img">
                                        <img src="img/testimonial-2.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="testimonial-ico">
                                        <i class="bi bi-chat-quote-fill"></i>
                                    </div>
                                    <div class="testimonials-content">
                                        <p class="testimonial-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
                                            debitis hic ber quibusdam
                                            voluptatibus officia expedita corpori.
                                        </p>
                                    </div>
                                    <div class="testimonial-author-box">
                                        <img src="img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar">
                                        <h5 class="testimonial-author">Pablo & Emma</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End carousel item -->

                </div>
            </div>
            <div class="testimonial-carousel-pagination carousel-pagination"></div>

        </div>
    </section><!-- End Testimonials Section -->*@
