@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<PropertyVM>

<div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">
@foreach (var item in Model)
{
  item.BasePhotoPath = item.BasePhotoPath.Replace("\\","/");
  <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(@item.BasePhotoPath)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">@item.Mahalle MH, @item.Ilce
                      <br> @item.Il
                    </p>
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">@item.OdaSayisi+@item.SalonSayisi </span> @item.PropertyType
                      <br> @item.Title.ToUpper()
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="/property/@item.Id"><span class="price-a">@item.Status | ₺ @item.Price</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
}
      
      
    </div>
    <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->