@{
    ViewData["Title"] = "Blog";
}
@model IEnumerable<Blog>

<!-- Navbar ve search -->
@{
    await Html.RenderPartialAsync("_Header", null);
}

<main>

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Tüm Blog Yazıları</h1>
                        <span class="color-text-a">Grid News</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Tüm Bloglar
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- =======  Blog Grid ======= -->
    <section class="news-grid grid">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card-box-b card-shadow news-box">
                            <div class="img-box-b">
                                <img src="@item.BasePhotoPath" alt="" class="img-b img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-header-b">
                                    <div class="card-category-b">
                                        <a href="#" class="category-b">@item.Category</a>
                                    </div>
                                    <div class="card-title-b">
                                        <h2 class="title-2">
                                            <a href="/blog/@item.Id">@item.Title </a>
                                        </h2>
                                    </div>
                                    <div class="card-date">
                                        <span class="date-b">@item.Date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <nav class="pagination-a">
                        <ul class="pagination justify-content-end">
                            <li class="page-item prev">
                                <a class="page-link" href="#" tabindex="-1">
                                    <span class="bi bi-chevron-left"></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="All" asp-route-page="0">1</a>
                            </li>
                            @if (ViewBag.SumPage > 1)
                            {
                                @for (var i = 1; i < ViewBag.SumPage; i++)
                                {
                                    int a = i + 1;
                                    <li class="page-item">
                                        <a class="page-link" asp-action="All" asp-route-page="@i">@a</a>
                                    </li>
                                }
                            }

                            <li class="page-item next">
                                <a class="page-link">
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Blog Grid-->

</main><!-- End #main -->
@{
    await Html.RenderPartialAsync("_Footer", null);
}