@model Blog
@{
    ViewData["Title"] = $"{Model.Title} - Blog";
}


<!-- Navbar ve search -->
@{
  await Html.RenderPartialAsync("_Header", null);
}


<main>

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">@Model.Title</h1>
              <span class="color-text-a">@Model.Subtitle</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  @Model.Title
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="news-img-box">
              <img src="@Model.BasePhotoPath" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="post-information">
              <ul class="list-inline text-center color-a">
                <li class="list-inline-item mr-2">
                  <strong>Yazar: </strong>
                  <span class="color-text-a">@Model.Author</span>
                </li>
                <li class="list-inline-item mr-2">
                  <strong>Kategori: </strong>
                  <span class="color-text-a">@Model.Category</span>
                </li>
                <li class="list-inline-item">
                  <strong>Tarih: </strong>
                  <span class="color-text-a">@Model.Date</span>
                </li>
              </ul>
            </div>
            <div class="post-content color-text-a">
              @Html.Raw(Model.Content)
            </div>
            <div class="post-footer">
              <div class="post-share">
                <span>Paylaþ: </span>
                <ul class="list-inline socials">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </section><!-- End Blog Single-->

  </main><!-- End #main -->





@{
  await Html.RenderPartialAsync("_Footer", null);
}